@import "../../../root.scss";

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  padding: $toolbar-item-padding;
  background-color: $toolbar-item-background-color;
  border-radius: $toolbar-item-border-radius;
  box-shadow: $toolbar-item-box-shadow;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $color-secondary;
  }
  &.dropdownButtonActive {
    background-color: $color-secondary;
    border-radius: $toolbar-item-border-radius $toolbar-item-border-radius 0 0;
  }

  .icon {
    margin-left: 5px;
    animation-name: reverseSpin;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    &.iconActive {
      animation-name: spin;
      animation-duration: 0.3s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  z-index: 1;
  background-color: $color-secondary;
  border-radius: 0 0 $toolbar-item-border-radius $toolbar-item-border-radius;
  box-shadow: $toolbar-item-box-shadow;
  transition: all 0.3s ease-in-out;

  & li {
    & label {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #dabdab;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes reverseSpin {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
