@import "../../../root.scss";

.sendButton {
  padding: $toolbar-item-padding;
  background-color: $toolbar-item-background-color;
  border-radius: $toolbar-item-border-radius;
  box-shadow: $toolbar-item-box-shadow;
  transition: all 0.3s ease-in-out;

  &:hover {
    &:hover {
      background-color: #ffd747;
      color: #fff;
      box-shadow: $toolbar-item-box-shadow-hover;
    }
  }
}
