@import "../../root.scss";

.modalForm {
  font-size: 14px;
  background-color: #fafafa;
  padding: 28px 25px;
  border-radius: 7px;

  .btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
  }
}
