@import "../../root.scss";

.toolbarItem {
  cursor: pointer;

  border-radius: $border-radius-primary;
  padding: $padding-primary;

  background-color: $color-btn;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
