@import "../../root.scss";

.helpPage {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: $padding-primary;
    height: 550px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      padding-top: 10px;
      width: 22px;
      background-color: #d9d9d9;
      border-radius: 12px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 12px;
      background-color: #fff;
    }
  }
}
