@import "../../root.scss";

.header {
  background-color: $color-secondary;
  padding: 12px 81px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      align-items: center;
      gap: 80px;
    }

    .icon {
      cursor: pointer;
      max-width: 50px;
    }
  }
}
